<p id="notice"><%= notice %></p>

<h1>Listing Categoria Posts</h1>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria_posts.each do |categoria_post| %>
      <tr>
        <td><%= categoria_post.categoria %></td>
        <td><%= categoria_post.post %></td>
        <td><%= link_to 'Show', categoria_post %></td>
        <td><%= link_to 'Edit', edit_categoria_post_path(categoria_post) %></td>
        <td><%= link_to 'Destroy', categoria_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoria post', new_categoria_post_path %>
