<p id="notice"><%= notice %></p>

<h1>Listando Categorias</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria.each do |categorium| %>
      <tr>
        <td><%= categorium.nome %></td>
        <td><%= link_to 'Exibir', categorium %></td>
        <% if logged_in? %>
          <td><%= link_to 'Editar', edit_categorium_path(categorium) %></td>
          <td><%= link_to 'Excluir', categorium, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if logged_in? %>
  <%= link_to 'Nova Categoria', new_categorium_path %>
<% end %>
